# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* Python
* R
* Scala

Some of the commonly used libraries used by Data Scientists include:
1. ggplot
2. pandas
3. numpy

|Data Science Tools|
------
|GitHub|
|Apache Spark|
|RStudio|

Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
* List popular languages for Data Science
* Calculate arithmetic expression

## Author: Minh